<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register &middot; StocksAI</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  <!-- Basid user info -->
  <div class="container">
    <div class="row">
      <div class="container border col-sm-6">
        <div class="row">
          <div class="col-sm-4">
            Name:
          </div>
          <div class="col-sm-3">
            {{ first_name }} &nbsp; {{ last_name }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Account Since:
          </div>
          <div class="col-sm-3">
            {{ registration_date }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Email:
          </div>
          <div class="col-sm-3">
            {{ email }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Cash (USD):
          </div>
          <div class="col-sm-3">
            {{ cash_usd }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Total Wealth (USD):
          </div>
          <div class="col-sm-3">
            {{ total_wealth }}
          </div>
        </div>
      </div>
      <div class="col-sm-5"></div>  <!-- horizontal position holder-->
    </div>
  </div>

  <br><br>
  <!-- Stock holding info-->
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Stock Code</th>
          <th scope="col">Purchase Date</th>
          <th scope="col">Purchase Unit Price</th>
          <th scope="col">Number of Stocks</th>
          <th scope="col">Earning (USD)</th>
          <th scope="col">Earning Percentage</th>
        </tr>
      </thead>
      <tbody>
        {% for code, items in stock_table.items %}
          {% for list in items %}
          <tr>
            <th scope="row"> {{ code }} </th>
            {% for t in list %}
            <td> {{ t }} </td>
            {% endfor %}
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

<!--a href="{% url 'login' %}" class="btn btn-success">Cancel</a-->